<div class="container-fluid">

  <md-card>
    <md-card-header>
      <div layout="column">
        <div flex>
          Użytkownicy systemu
        </div>
        <div>
          <small>Tylko administrator</small>
        </div>
      </div>
    </md-card-header>

    <md-card-content>
      <header title="'Użytkownicy'"></header>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th ng-repeat="header in usrCtrl.tableHeaders">
                  {{header.name}}
                </th>
              </tr>
            </thead>
            <tr ng-repeat="user in usrCtrl.users">
              <td>{{user.id}}</td>
              <td>{{user.login}}</td>
              <td>{{user.mail}}</td>
            </tr>
          </table>
        </div>
      </div>
    </md-card-content>
  </md-card>
  
</div>