<div class="container-fluid semTracking">
  <div class="row">
    <div class="col-sm-12">
      <md-card>
        <md-card-header>
          Tracking filter
        </md-card-header>
        <md-card-content>
          <div class="row">
            <div class="col-sm-6">
              <select-device selected="trackCtrl.selectedDevice"></select-device>
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-if="!trackCtrl.isTracking" ng-disabled="!trackCtrl.selectedDevice" class="md-raised md-primary" ng-click="trackCtrl.startTrackingClick()"><i class="fa fa-map-marker" aria-hidden="true"></i> Start tracking</md-button>
          <md-button ng-if="trackCtrl.isTracking" class="md-raised md-warn" ng-click="trackCtrl.stopTrackingClick()"><i class="fa fa-map-marker" aria-hidden="true"></i> Stop tracking</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <div class="row" ng-if="trackCtrl.isTracking">
    <div class="col-sm-8">
      <md-card>
        <md-card-content>
          <ng-map id="map" zoom="{{trackCtrl.mapSettings.zoom}}" center="{{trackCtrl.mapSettings.center}}" map-type-id="ROADMAP">
            <marker position="{{trackCtrl.deviceData.position}}" title="{{trackCtrl.deviceData.name}}"></marker>
          </ng-map>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-sm-4 semTrackingInfo">
       <md-card>
        <md-card-header>
          Tracking details
        </md-card-header>
        <md-card-content>
          <div class="row">
            <div class="col-sm-12">
              <table ng-table="trackCtrl.trackingInfoTableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="location in $data">
                  <td data-title="'Latitude'" sortable="'latitude'">{{location.latitude}}</td>
                  <td data-title="'Longitude'" sortable="'longitude'">{{location.longitude}}</td>
                  <td data-title="'Speed'" sortable="'speed'">{{location.speed}}</td>
                  <td data-title="'Timestamp'" sortable="'timestamp'">{{location.timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

</div>
