<div class="container-fluid semRegistration">
  <div class="text-center semRegistrationHeader">
    <h1>REJESTRACJA</h1>
  </div>
  <md-content class="md-no-momentum" ng-keypress="regCtrl.keyPress($event)">
    <md-input-container class="md-icon-float md-block">
      <label>Email</label>
      <md-icon class="name"><i class="fa fa-user fa-2x" aria-hidden="true"></i></md-icon>
      <input ng-model="regCtrl.userData.email" type="email">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Password</label>
      <md-icon class="name"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></md-icon>
      <input ng-model="regCtrl.userData.password" type="password">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Repeat password</label>
      <md-icon class="name"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></md-icon>
      <input ng-model="regCtrl.userData.confirmPassword" type="password">
    </md-input-container>

    <div class="text-center">
      <md-button ng-click="regCtrl.registrationClick()" type="submit" class="md-raised md-primary">Register</md-button>
    </div>
    
    <div class="text-center">
      <md-button ui-sref="signin">Back</md-button>
    </div>
  </md-content>
</div>