<div class="container-fluid semLocation">
  <div class="row">
    <div class="col-sm-12">
      <md-card>
        <md-card-header>
          Location filter
        </md-card-header>
        <md-card-content>
          <div class="row">
            <div class="col-sm-4 semLocationSelectDevice">
              <select-device selected="locCtrl.selectedDevice"></select-device>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6">
                    <datetime-picker name="'From date and time:'" date="locCtrl.datetimeFrom.date" time="locCtrl.datetimeFrom.time"></datetime-picker>
                  </div>
                  <div class="col-sm-6">
                    <datetime-picker name="'To date and time:'" date="locCtrl.datetimeTo.date" time="locCtrl.datetimeTo.time"></datetime-picker>
                  </div>
                </div>
              </div>          
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="locCtrl.searchButtonClick()"><i class="fa fa-search" aria-hidden="true"></i> Search</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-content>
          <div class="row">
            <div class="col-sm-12">
              <ng-map id="map" zoom="{{locCtrl.locationsPathZoom}}" center="{{locCtrl.locationsPathCenter}}" map-type-id="ROADMAP" default-style="false">
                <shape name="polyline" 
                  path="{{locCtrl.locationsPath}}"
                  geodesic="true"
                  stroke-color="#ff0000"
                  stroke-opacity="1.0"
                  stroke-weight="1">
                </shape>
              </ng-map>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>