<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <span class="fa-stack" style="font-size: 34px;">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa fa-tablet fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="pull-left" style="width: 70%; margin-left: 15px;">
    <md-input-container style="width: 100%;">
      <label>Device</label>
      <md-select ng-model="selected">
        <md-option>None</md-option>
        <md-option ng-repeat="device in selectDevCtrl.devices" ng-value="device">
          {{device.name}} ({{device.imei}})
        </md-option>
      </md-select>
    </md-input-container>
    </div>
  </div>
</div>


