
// bower:less
// endbower

@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../../bower_components/bootstrap/fonts/';

@import 'base-variables';
@import 'base-table';
@import 'base-button';

body {
  background: @bodyColor;
  font-family: 'Roboto-Light';
}

div.req > span > i,
div.req span.validMsg {
  color: @validColor
}

md-content {
  background: @bodyColor;
}

md-card {

}

md-card-header {
  background: @cardHeaderColor;
  color: @cardHeaderTextColor;
  padding: 10px !important;
  font-size: 18px;
}

md-card-content {
  background: @cardContentColor;
  color: @cardContentTextColor;
}
 
md-card-actions {
  background: @cardActionsColor;
  margin: 0 !important;
  padding: 5px 10px;
}

md-input-container {
  font-size: 18px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* SCROLL STYLE */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    background: @scrollColor;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: @scrollColor;
}

// injector
// endinjector

#map {
  height: 60vh;
}