@import 'base-variables';

button .md-button .md-default {
  background-color: @brand-primary !important;
}

button .md-button .md-primary {
  background-color: @brand-primary !important;
}

button .md-button .md-success {
  background-color: @brand-success !important;
}

button .md-button .md-info {
  background-color: @brand-info !important;
}

button .md-button .md-warning {
  background-color: @brand-warning !important;
}

button .md-button .md-danger {
  background-color: @brand-danger !important;
}