// BASE BRAND

@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

// END BASE BRAND

// TYPOGRAPHY

@font-color-base:         #000000;
@font-color-white:        #ffffff;
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;

// END TYPOGRAPHY

// COMPONENTS

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@padding-xs-vertical:            1px;
@padding-xs-horizontal:          5px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

@component-active-color:         #fff;
@component-active-bg:            @brand-primary;

@caret-width-base:               4px;
@caret-width-large:              5px;

// END COMPONENTS

@textColor: #ffffff;
@darkMediumColor: #595959;
@darkColor: #3D3D3D;

@scrollColor: #303030;

@toolbarColor: lighten(#000, 35%);
@menuColor: @darkColor;
@menuColorSelected: #3B75CC;
@menuColorHover: #ED1E6E;
@bodyColor: #EEEEEE;

@validColor: rgba(200,0,0,0.9);

// MD CARD

@cardHeaderColor: lighten(#000, 45%);
@cardHeaderTextColor: #ffffff;

@cardContentColor: lighten(#000, 95%);
@cardContentTextColor: #000000;

@cardActionsColor: lighten(#000, 90%);

// END MD CARD

@tableHeadColor: @brand-primary;
@tableHeadTextColor: #ffffff;

@buttonDefaultColor: #14A4A4;
@buttonDangerColor: #ED1E6E;

@loginColorFirst: @gray-darker;
@loginColorSec: @gray-dark;

