@import 'base-variables';

.semHome .semHomeRow md-card:hover {
  -webkit-box-shadow: 0px 0px 4px 2px @menuColorSelected;
  -moz-box-shadow: 0px 0px 4px 2px @menuColorSelected;
  box-shadow: 0px 0px 4px 2px @menuColorSelected;
}