@import 'base-variables';

.semLoginBg {
  background: @loginColorFirst; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, @loginColorFirst, @loginColorSec); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, @loginColorFirst, @loginColorSec); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, @loginColorFirst, @loginColorSec); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, @loginColorFirst, @loginColorSec); /* Standard syntax */
}