.semTracking #map {
  height: 60vh;
}

.semTracking .semTrackingInfo md-card {
  height: 64vh;
  overflow: auto;
}

@media screen and (min-width: 750px) {
  .semTracking .semTrackingInfo md-card {
    margin-left: -25px;
  }
}
