@import 'base-variables';

.mainBody md-toolbar {
  background: @toolbarColor;
  color: @textColor;
}

.mainBody md-toolbar .menuIconDiv,
.mainBody md-toolbar .contactIconDiv,
.mainBody md-toolbar .logoutIconDiv {
  margin: 12px;
}

.mainBody md-toolbar span {
  font-size: 24px; 
  margin-top: 15px; 
  margin-bottom: 15px;
}

.mainBody md-sidenav {
  color: @textColor;
  background: @menuColor;
  width: 220px;
}

.mainBody .mdHeader {
  font-size: 20px; 
  font-weight: bold; 
  padding-top: 12px;
  padding-bottom: 5px;
}

.mainBody .mdHeader h4 {
  margin-top: 0;
  margin-bottom: 2px;
}

.mainBody .mdContentMenu {
  color: @textColor;
  background: @menuColor;
}

.mainBody .mdSidenav h4 {
  padding-left: 15px;
}

.mainBody .mdContentMenu md-list-item:hover {
  //background:  @menuColorHover;
}

.mainBody .mdContentMenu md-list-item a:hover {
  //background: none;
}

.mainBody .mdContentMenu md-list-item.mdListItemSelected {
  background: @menuColorSelected;
}

.mainBody .mdContentMenu p {
  margin-left: 15px;
}

.mainBody .mdContentMenu md-list-item {
  font-size: 16px;
}

.mainBody .mdContentMenu md-list-item i {
  width: 15px;
}

