@import 'base-variables';

.semRegistration {
  width: 450px;
  height: 425px;
  position: absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.semRegistration h1 {
  font-size: 45px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
}

.semRegistration md-content {
  overflow: hidden;
  padding-top: 15px;
}

.semRegistration .md-button {
  margin: 0 -5px 0 -5px;
  width: 100% !important;
  height: 50px
}

.semRegistration .md-button {
  width: 100% !important;
  margin: 0 -5px 0 -5px;
}

.semRegistration md-content.md-default-theme, 
.semRegistration md-content {
  background-color: transparent;
}

.semRegistration md-content {
  font-size: 16px;
}

.semRegistration md-content i {
  color: #000000;
}

.semsemRegistrationSignin md-inpit-container {
  color: white !important;
}