@import 'base-variables';

.semDashboardButtons a {
  text-decoration: none;
  color: @font-color-white;
}

.semDashboardButtons i {
  font-size: 80px;
}

.semDashboardButtons span {
  font-size: 18px;
}

.semDashboardButtons .col-sm-3 div {
  margin: 25px;
  padding: 15px;
  background: @brand-primary;
}