@import 'base-variables';

// .semSignin {
//   background: red !important;
// }


// .semSignin {
//   width: 450px;
//   height: 400px;
//   position: absolute;
//   left:0; right:0;
//   top:0; bottom:0;
//   margin: auto;
//   max-width: 100%;
//   max-height: 100%;
//   overflow: auto;
// }

// .semSignin h1 {
//   font-size: 65px;
//   font-weight: bold;
//   text-shadow: horizontal-offset vertical-offset blur color;
//   text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
// }

// .semSignin md-content {
//   padding-top: 15px;
// }

// .semSignin .md-button {
//   margin: 0 -5px 0 -5px;
//   width: 100% !important;
//   height: 50px
// }

// .semSignin .md-button {
//   font-size: @font-size-large;
// }

// .semSignin a {
//   font-size: @font-size-base !important;
// }

// .semSignin md-content.md-default-theme, 
// .semSignin md-content {
//   background-color: transparent;
// }

// .semSignin .md-input-container.md-default-theme label, 
// .semSignin md-input-container.md-default-theme .md-placeholder {
//   color: @font-color-white !important;
// }
