<div class="container-fluid semDashboard">
  <md-card>
    <md-card-header>
      Dashboard
    </md-card-header>
    <md-card-container>
      <div class="container-fluid semDashboardButtons text-center">
        <div class="row">
          <div class="col-sm-3">
            <a ui-sref="devices">
              <div> 
                <i class="fa fa-tablet" aria-hidden="true"></i><br />
                <span>Devices</span>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a ui-sref="tracking">
              <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i><br />
                <span>Tracking</span>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a ui-sref="location">
              <div>
                <i class="fa fa-map" aria-hidden="true"></i><br />
                <span>Location</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </md-card-container>
  </md-card>
</div>