<div class="container-fluid semSignin">
  <input type="text">
</div>


<!--<div class="container-fluid semSignin">

  <div class="text-center">
    <h1>GeoSpy</h1>
  </div>

  <md-content class="md-no-momentum" ng-keypress="signinCtrl.keyPress($event)">
    <md-input-container class="md-icon-float md-block">
      <label>Login</label>
      <md-icon class="name"><i class="fa fa-user fa-2x" aria-hidden="true"></i></md-icon>
      <input ng-model="signinCtrl.userData.userName" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Password</label>
      <md-icon class="name"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></md-icon>
      <input ng-model="signinCtrl.userData.password" type="password">
    </md-input-container>

    <div class="text-center">
      <md-button ng-click="signinCtrl.loginClick()" type="submit" class="md-raised md-primary">Signin</md-button>
    </div>
    
    <div class="text-center">
      <md-button ui-sref="registration">Register</md-button>
    </div>

  </md-content>

</div>-->