<div class="container-fluid semDevices">
  <div class="row">
    <div class="col-sm-12">

      <md-card>
        <md-card-header>
          <div layout="column">
            <div flex>
              Registered devices
            </div>
            <div>
              <small></small>
            </div>
          </div>
        </md-card-header>

        <md-card-content>
          <div class="row">
            <div class="col-sm-12">
              <table ng-table="devCtrl.devicesTableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="device in $data">
                  <td data-title="'Name'" sortable="'name'">{{device.name}}</td>
                  <td data-title="'Imei'" sortable="'imei'">{{device.imei}}</td>
                </tr>
              </table>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>



